.vscode
database
.git
.gitignore
.gitmodules
.vscode
README.md
database
lerna
lerna-debug.log
node_modules
Dockerfile

packages/**/node_modules
packages/**/dist
packages/**/Dockerfile
packages/**/tests/Dockerfile
.githooks
